body{
    background-color: aqua;
}

div{
    width: 50%;
    height: 60vh;
    background-color: rgba(0, 17, 255, 0.461);
    /* background: linear-gradient(180deg,green 30%, white 30%, white 65%, green 65%); */
    background: linear-gradient(90deg,blue 30%, white 30%, white 65%, red 65%);
    margin: auto;
}

h1 span{
    color: red;
}

/* div{
    
} */

div.Gambia{
    background: linear-gradient(180deg,red 30%, white 30%, white 35%, blue 35%, blue 60%, white 60%, white 65%, green 65%);
}

div.Belgium{
    background: linear-gradient(90deg,black 30%, yellow 30%, yellow 65%, red 65%);
    color: white;
}
